body{
    margin: 0;
    padding: 0;
    background: #ffffffb6;
}

.section{
    width: 100%;
    display: flex;
    padding:50px 70px;
    gap: 70px;
}

.form{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

input{
    width: 310px;
    height: 30px;
    border: 1px solid ;
    padding-left: 10px;
    border: 1px solid rgba(218, 215, 215, 0.863);

}


.form-section{
    background: white;

}

.or{
    width: 100%;
    justify-content: center;
    align-content: center;
    padding-left: 47%;
}

.social-icon{
    display: flex;
    width: 100%;
    gap: 50px;
}

.btn1{
    background: black;
    color: white;
    height: 35px;

}

.btn2{
    background: rgb(236, 234, 234);
    border: none;
    height: 35px;
}

.forget-p{
    color: black;
    padding-left: 66%;
}

.social{
    box-shadow: wheat;
    color: black;
    text-decoration: none;

}

.so{
    width: 100%;
    border: 1px solid rgba(218, 215, 215, 0.863);
    padding: 5px;   
}

.account{
  width: 100%;  
  padding-left: 30%;
  padding-top: 45px;
}

.flower{
    width: 100%;
}

.img{
    width: 70%;
    height: 550px;
    position: relative;
}

.img-element{
    position: absolute;
    bottom: 5%;
    left: 37%;
    color: white;
}