*{
    margin: 0;
    padding: 0;
    background: #fff;
}

.section{
    width: 100vw;
    display: flex;
    gap: 10px;
}

.head{
    padding-bottom:20px ;
}

.form{
  display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 50px;
    gap: 10px;
}
form{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

input{
    width: 24vw;
    height: 30px;
    border: 1px solid ;
    padding-left: 10px;
    border: 1px solid rgba(218, 215, 215, 0.863);

}


.form-section{
    width: 25vw;
    background: white;

}

.or{
    padding-left: 155px;
}

.social-icon{
    display: flex;
    width: 25vw;
    gap: 50px;
}

.btn1{
    background: black;
    color: white;
    width: 25vw;
    height: 35px;
    cursor: pointer;

}

.btn2{
    background: rgb(236, 234, 234);
    border: none;
    width: 25vw;
    height: 35px;
    cursor: pointer;
}

.forget-p{
    display: flex;
    width: 25vw;
    color: black;
    padding-left: 235px;
}

.social{
    box-shadow: wheat;
    color: black;
    text-decoration: none;

}

.so{
    display: flex;
    width: 25vw;
    border: 1px solid rgba(218, 215, 215, 0.863);
    padding: 5px;   
}

.account{
    width: 25vw;
  padding-left: 95px;
  padding-top: 45px;
}

.flower{display: flex;
}

.img{
    width: 60vw;
    height: 550px;
    position: relative;
    padding: 30px;
}

.img-element{
    position: absolute;
    bottom: 10%;
    left: 37%;
    color: white;
    background: none;
    font-size: 44px;
}

@media(max-width:600px){
    .flower{
    display: none;
}
 
input{
    width: 60vw;
}

 .btn1, .btn2, .account, .social{
    width: 63vw;
}

}
