*{
    margin: 0;
    padding: 0;
    background: #fff;
}

.section{
    width: 100%;
    display: flex;
    gap: 10px;
}

.form{
  display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    gap: 10px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

input{
    width: 97%;
    height: 30px;
    border: 1px solid ;
    padding-left: 10px;
    border: 1px solid rgba(218, 215, 215, 0.863);

}


.form-section{
    width: 50%;
    background: white;

}

.or{
    width: 50%;
    justify-content: center;
    align-content: center;
    padding-left: 24%;
}

.social-icon{
    display: flex;
    width: 50%;
    gap: 50px;
}

.btn1{
    background: black;
    color: white;
    width: 100%;
    height: 35px;

}

.btn2{
    background: rgb(236, 234, 234);
    border: none;
    width: 50%;
    height: 35px;
}

.forget-p{
    display: flex;
    width: 100%;
    color: black;
    padding-left: 58%;
}

.social{
    box-shadow: wheat;
    color: black;
    text-decoration: none;

}

.so{
    display: flex;
    width: 100%;
    border: 1px solid rgba(218, 215, 215, 0.863);
    padding: 5px;   
}

.account{
    width: 70%;
  padding-left: 14%;
  padding-top: 45px;
}

.flower{display: flex;
}

.img{
    width: 65vw;
    height: 550px;
    position: relative;
    padding: 30px;
}

.img-element{
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: white;
    background: none;
}

@media(max-width:600px){
    .flower{
    display: none;
}

}
